In [64]:
import pandas as pd 
import sqlite3
import sys
sys.path.insert(0, '..')
import util.util_newssniffer_parsing as up
from importlib import reload
reload(up)

In [3]:
wp_db = '../data/diffengine-diffs/db/newssniffer-washpo.db'

In [31]:
ids = [ 730191,  731484,  732087,  735246,  843942, 1076587, 1080957,
       1081053, 1081818, 1091741, 1091955, 1092021, 1100479, 1101573,
       1101902, 1101955, 1104207, 1109364, 1113377, 1114871, 1115432,
       1115718, 1116335, 1116399, 1117664, 1117922, 1120228, 1120722,
       1121980, 1128428, 1128734, 1133104, 1135071, 1135145, 1136507,
       1136631, 1141170, 1202305, 1284977,  762853,  865873,  868525,
        880828,  882871,  903899,  911263,  920160, 1872191, 1881606,
       1883065, 1884758, 1885654, 1885680, 1927378, 1942888, 1948425,
        740674,  747168,  749023,  753067,  754562,  769174,  774870,
        779731,  789463,  790171,  834229,  839990,  856934,  858664,
        859288,  866942,  895970,  900597,  930642,  931222,  867921,
       1304580, 1371027, 1442681, 1075864, 1076324, 1076900, 1077101,
       1077275, 1078681, 1079508, 1083873, 1086413, 1088978, 1089376,
       1093861, 1094174, 1099403, 1107274, 1108900, 1110844, 1131649,
       1913831, 1947487]

In [37]:
ids[65:70]

[790171, 834229, 839990, 856934, 858664]

In [38]:
conn = sqlite3.connect(wp_db)
select_sql = "SELECT * from entryversion"
limit_line = """
WHERE entry_id IN (
    SELECT DISTINCT entry_id from entryversion WHERE num_versions < 40 ORDER BY RANDOM() LIMIT %s
)""" % 100

limit_line = 'WHERE entry_id IN (%s)' % ', '.join(list(map(str, ids[65:70])))
wp_df = pd.read_sql(select_sql + '\n' + limit_line, con=conn)

In [80]:
from importlib import reload
reload(up)

In [79]:
wp_df
sentence_stats_df, words_stats_df = up.get_sentence_diff_stats(
    wp_df,
    get_word_diff=True,
    get_sentence_vars=True
)

  0%|          | 0/5 [00:00<?, ?it/s]

In [83]:
t = up.get_sentence_diff_stats(
    wp_df,
    get_word_diff=True,
    get_sentence_vars=True,
    output_type='iter'    
)

In [ ]:
for i in t:
    i

In [89]:
a, b = i

In [90]:
a

,num_added_sents,len_new_doc,num_removed_sents,len_old_doc,num_changed_sents,version_nums,a_id,vars_old,vars_new
0,7,23,3,19,6,"(0, 1)",834229,({'text': 'ROME—The Dutch Safety Board release...,({'text': 'ROME—The Dutch Safety Board release...

In [91]:
b

,num_removed_words,num_added_words,len_old_sent,len_new_sent,version_nums,s_old,s_new,a_id,s_idx
0,6,5,34,33,"(0, 1)","[{'text': 'The', 'tag': ' '}, {'text': 'victim...","[{'text': 'The', 'tag': ' '}, {'text': 'victim...",834229,19

# Get Sentence Diffs

In [ ]:
# sample_ids = nytimes_article_diffs['article_id'].drop_duplicates().sample(2500)
# sample_diffs = nytimes_article_diffs.loc[lambda df: df['article_id'].isin(sample_ids)]
nyt_conn = sqlite3.connect('../data/diffengine-diffs/db/newssniffer-nytimes.db')
sample_diffs_by_article = pd.read_sql("""
    SELECT * from entryversion 
    WHERE entry_id IN (SELECT DISTINCT entry_id from entryversion ORDER BY RANDOM() LIMIT 2500)
""", con=nyt_conn)

sample_ids = sample_diffs_by_article['entry_id'].unique()
sample_diffs_by_article = sample_diffs_by_article.set_index('entry_id')

article_diffs = sample_diffs_by_article.loc[sample_ids[0]].sort_values('version')
version_pairs = article_diffs['version'].pipe(lambda s: list(zip(s[:-1], s[1:])))
sentence_stats, word_stats = [], []
##
for a_id in tqdm(sample_ids):
    a = sample_diffs_by_article.loc[a_id]
    vs = a['version']
    a_by_version = a.set_index('version')

    for v_old, v_new in list(zip(vs[:-1], vs[1:])):
        vars_old, vars_new = up.get_sentence_diff(
            a_by_version.loc[v_old]['summary'],
            a_by_version.loc[v_new]['summary']
        )
        
        doc_changes = up.get_changes(vars_old, vars_new)
        sent_change_pairs = doc_changes['sentences']['changed_sent_pairs']

        sentence_stats.append({
            'num_added_sents': len(doc_changes['sentences']['added_sents']),
            'len_new_doc': len(doc_changes['docs']['new_doc']),
            'num_removed_sents': len(doc_changes['sentences']['removed_sents']),
            'len_old_doc':len(doc_changes['docs']['old_doc']),
            'num_changed_sents': len(doc_changes['sentences']['changed_sent_pairs']),
            'version_nums': (v_old, v_new),
            'vars_old': vars_old,
            'vars_new': vars_new,
            'a_id': a_id,
        })
        
        for sent_pair in doc_changes['sentences']['changed_sent_pairs']:
            s_old, s_new = up.get_word_diffs(*sent_pair)
            word_stats.append({
                'num_words_removed': sum(map(lambda x: x['tag'] == '-', s_old)),
                'num_words_added': sum(map(lambda x: x['tag'] == '+', s_new)),
                'len_old_sent': len(list(filter(lambda x: x['text'] != '' , s_old))),
                'len_new_sent': len(list(filter(lambda x: x['text'] != '', s_new))),
                'version_nums': (v_old, v_new),
                's_old': s_old,
                's_new': s_new,
                'sent_par': sent_pair,
                'a_id': a_id
            })

sentence_stats_df = pd.DataFrame(sentence_stats)
word_stats_df = pd.DataFrame(word_stats)

# Spot Checks

In [ ]:
# corrections
# contributor lines
vo, vn = (
    sentence_stats_df
          .loc[lambda df: df['num_added_sents'] == 10]
          .iloc[2]
          [['vars_old', 'vars_new']]
)

In [ ]:
## possible to-do: explicit positional encoding to spot sentences that were moved

display(HTML(up.html_compare_articles(vo, vn)))

In [ ]:
vot = copy.deepcopy(vo)
vnt = copy.deepcopy(vn)

v1o, v1n = up.merge_all_clusters(vot, vnt, slack=.5)
display(HTML(up.html_compare_articles(v1o, v1n)))

### Saved Spot Checks

In [ ]:
a1 = 'However , her meeting with Mr. Xi was canceled Wednesday morning .'
a2 = 'United States officials said Mr. Xi had cancelled other meetings scheduled for the day so it did not appear that any slight was intended.'
b  = 'The meeting with Mr. Xi was canceled Wednesday morning , although United States officials said they did not think it was intended as a slight because Mr. Xi had also canceled other Wednesday appointments .'


a = 'WASHINGTON – For President Obama, the first test of his second term will come quickly this week when Chuck Hagel and John Kerry, his nominees for the two biggest national-security posts, take critical steps toward winning Senate confirmation.'
b = 'For President Obama, the first test of his second term passed peacefully on Tuesday as his nominee for defense secretary, Chuck Hagel, sat down with the Republican who poses one of his biggest potential hurdles to Senate confirmation, Senator John McCain of Arizona.'

a = 'As Mr. Hagel’s prospects have improved, some analysts say the nominee to watch is Mr. Brennan, the White House counterterrorism adviser Mr. Obama has chosen for the C.I.A..'
b = 'With Mr. Hagel’s prospects improving, some analysts say the nominee to watch is Mr. Brennan, whom Mr. Obama has chosen as a permanent replacement for David H. Petraeus at the C.I.A., who resigned in November after admitting to an extramarital affair.'

a = 'The report did not identify those countries .' 
b = 'Choe Sang - Hun reported from Seoul , and Mark Landler from Washington .'

up.check_subset(b, a, slack=.5)

s1 = a
s2 = b
# lemmatize and get stopwords
s1_lemmas, s2_lemmas = up.get_lemmas(s1), up.get_lemmas(s2)
s1_lemmas, s2_lemmas = up.filter_stopword_lemmas(s1_lemmas), up.filter_stopword_lemmas(s2_lemmas)

In [ ]:
vot = copy.deepcopy(vo)
vnt = copy.deepcopy(vn)
cs = up.cluster_edits(vot, vnt)
c = cs[0]
c = [
    (
        {'text': 'WASHINGTON – For President Obama, the first test of his second term will come quickly this week when Chuck Hagel and John Kerry, his nominees for the two biggest national-security posts, take critical steps toward winning Senate confirmation.', 'tag': '-'},
        {'text': '', 'tag': ' '}
    ),
    (
        {'text': 'They are likely to get very different receptions.', 'tag': '-'},
        {'text': '', 'tag': ' '}
    ),
    (
        {'text': '', 'tag': ' '}, {'text': 'WASHINGTON', 'tag': '+'}
    ),
    (
        {'text': '', 'tag': ' '},
        {'text': 'For President Obama, the first test of his second term passed peacefully on Tuesday as his nominee for defense secretary, Chuck Hagel, sat down with the Republican who poses one of his biggest potential hurdles to Senate confirmation, Senator John McCain of Arizona.', 'tag': '+'}
    ),
    (
        {'text': '', 'tag': ' '},
        {'text': 'By all accounts, the 45-minute one-on-one meeting went well enough for the White House to feel that it has finally turned the tide in favor of Mr. Hagel, whose positions on Israel and Iran have drawn heavy fire from conservatives, pro-Israel groups and other critics.', 'tag': '+'}
    ),
    (
        {'text': '', 'tag': ' '},
        {'text': 'While Mr. McCain did not say how he would vote on Mr. Hagel, he told reporters that he would reserve judgment until after Mr. Hagel’s confirmation hearing on Jan. 31.', 'tag': '+'}
    ),
]

t = up.merge_cluster(c, slack=.5)

# Check Merging

In [1]:
c = [
    (
        {
            'text': 'Breaking a deadlock over the location and timing of new talks on its disputed nuclear program, Iran reached agreement on Tuesday with world powers to resume the stuttering dialogue later this month in Kazakhstan, according to the official IRNA news agency.', 
            'tag': '-'
        }, 
        {
            'text': 'Breaking a deadlock over the location and timing of new talks on its disputed nuclear program, Iran said Tuesday it had reached agreement with world powers to resume the stuttering dialogue later this month in Kazakhstan.', 
            'tag': '+'
        }
    ), (
        {
            'text': 'The agreement to meet there on Feb. 26 came in a telephone conversation between senior officials of Iran’s National Security Council and the European Union, representing the outside powers involved in the talks, IRNA said.', 
            'tag': '-'
        }, 
        {
            'text': 'The agreement to meet there on Feb. 26 came in a telephone conversation between senior officials of Iran’s National Security Council and the European Union, representing the outside powers involved in the talks, Iran’s official Islamic Republic News Agency said.', 
            'tag': '+'
        }
    ), 
    (
        {'text': '', 'tag': ' '}, 
        {'text': '.', 'tag': '+'}
    )
]

In [ ]:
up.merge_cluster(c)

In [ ]:
##############################

s1 = 'In Japan , the transport ministry said it would ground the Dreamliners indefinitely , and in India , the aviation regulator said it had grounded the six aircraft operated by the state - owned carrier Air India , Reuters reported .'
s2 = 'In India , the aviation regulator grounded all six of the 787s operated by the state - owned carrier Air India .'
s3 = 'In Japan the transport ministry issued a formal order to ground all 787s indefinitely, until concerns over the aircraft’s battery systems are resolved.'
up.check_subset(s1, s3)
up.check_subset(b, a)

#############################
slack = .3
s1 = up.merge_sents_list(s1) if isinstance(s1, list) else s1
s2 = up.merge_sents_list(s2) if isinstance(s2, list) else s2
# lemmatize and get stopwords
s1_lemmas, s2_lemmas = up.get_lemmas(s1), up.get_lemmas(s2)
s1_lemmas, s2_lemmas = up.filter_stopword_lemmas(s1_lemmas), up.filter_stopword_lemmas(s2_lemmas)
### check match.
matches = sum(map(lambda word: word in s1_lemmas, s2_lemmas))
matches >= (len(s2_lemmas) * (1 - slack))

(len(s2_lemmas) * (1 - slack))

sum(map(lambda word: word in s1_lemmas, s2_lemmas))

sum(map(lambda word: word in s2_lemmas, s1_lemmas))

(len(s2_lemmas) * (1 - slack))

(len(s1_lemmas) * (1 - slack))

############################
a = 'North Korea said on Tuesday that it will both restart its old nuclear reactor, which had provided plutonium fuel for its nuclear weapons until it was mothballed in 2007, and rev up its uranium enrichment.'
b = 'North Korea said on Tuesday that it will put all its nuclear facilities — including its operational uranium-enrichment program and its reactors mothballed or under construction — to use in expanding its nuclear weapons arsenal, raising the stakes in the escalating standoff with the United States and its allies.'

### get all text (might be a list).
s1 = merge_sents_list(a) if isinstance(a, list) else a
s2 = merge_sents_list(b) if isinstance(b, list) else b
s1, s2 = s2, s1
# lemmatize and get stopwords
s1_lemmas, s2_lemmas = up.get_lemmas(s1), up.get_lemmas(s2)
s1_lemmas, s2_lemmas = filter_stopword_lemmas(s1_lemmas), filter_stopword_lemmas(s2_lemmas)
### check match.
matches = list(map(lambda word: word in s1_lemmas, s2_lemmas))

sum(matches)

len(s2_lemmas)

# Run Diff Generator Ourselves

In [ ]:
(sentence_stats_df
          .loc[lambda df: df['num_added_sents'] == 1]
          .iloc[24])

a, b = sample_diffs_by_article.loc[593406].loc[lambda df: df['version'].isin((3,4))]['summary']

reload(up)

a_old_sents = up.split_sents(a)
a_new_sents = up.split_sents(b)
a_old_sents = list(filter(up.filter_sents, a_old_sents))
a_new_sents = list(filter(up.filter_sents, a_new_sents))

vo, vn = (sentence_stats_df
          .loc[lambda df: df['num_added_sents'] == 1]
          .iloc[21]
          [['vars_old', 'vars_new']]
         )

(sentence_stats_df
          .loc[lambda df: df['num_added_sents'] == 1]
          .iloc[21])

a, b = sample_diffs_by_article.loc[592103].loc[lambda df: df['version'].isin((3, 4))]['summary']

a_old_sents = up.split_sents(a)
a_new_sents = up.split_sents(b)
a_old_sents = list(filter(up.filter_sents, a_old_sents))
a_new_sents = list(filter(up.filter_sents, a_new_sents))
# get_list_diff(a_old_sents, a_new_sents)

reload(up)

vo, vn = up.get_list_diff(a_old_sents, a_new_sents)

display(HTML(up.html_compare_articles(vo, vn)))

vot = copy.deepcopy(vo)
vnt = copy.deepcopy(vn)

display(HTML(up.html_compare_articles(*merge_all_clusters(vo, vn))))



(sentence_stats_df
          .loc[lambda df: df['num_added_sents'] == 1]
          .iloc[4]
)
a_old, a_new = sample_diffs_by_article.loc[564771].loc[lambda df: df['version'].isin((4,5))]['summary']

# Glove

In [ ]:
import numpy as np 
import spacy
from scipy.spatial.distance import cosine
nlp = spacy.load("en_core_web_lg", disable=["tagger", "ner"])  # just the parser

def get_all_glove_vecs():
    glove = open('../data/glove.6B/glove.6B.300d.txt').read()
    glove_lines = glove.split('\n')
    glove_lines = list(map(lambda x: x.split(), glove_lines))
    glove_words = list(map(lambda x: x[0], glove_lines[:-1]))
    glove_vecs = list(map(lambda x: np.array(list(map(float, x[1:]))), glove_lines[:-1]))
    return pd.Series(glove_vecs, index=glove_words)

def get_sentence_glove_vec(sent):
    sent_vec = []
    for word in nlp(sent):
        word = word.text.lower()
        if word in glove:
            sent_vec.append(glove[word])
    return np.array(sent_vec).mean(axis=0)

glove = get_all_glove_vecs()

In [ ]:
ao = 'An earlier version of a picture caption with this article incorrectly described a ceremony being performed by a Navy chaplain for an Air Force sergeant and his partner at a military base in New Jersey.'
an = 'A picture caption on Thursday with an article about gay, lesbian and bisexual members of the military service described incorrectly a ceremony being performed by a Navy chaplain for an Air Force sergeant and his partner at a military base in New Jersey.'
print(ao)
print()
print(an)
print('ao subset an? %s.' % check_subset(ao, an))
print('an subset ao? %s.' % check_subset(an, ao))
print('------------------------------------------')

ao = 'In a microblog post on Friday, Ran Yunfei, a sharp-tongued writer persecuted for his pro-democracy writings, said he now hoped that Mr. Mo would stand up more boldly for those who have dared to speak truth to power.'
an = 'Ran Yunfei, a sharp-tongued writer persecuted for his pro-democracy views, said he was heartened by Mr. Mo’s comments but doubted that he would become a crusader for human rights and free expression.'
print(ao)
print()
print(an)
print('ao subset an? %s.' % check_subset(ao, an))
print('an subset ao? %s.' % check_subset(an, ao))
print('--------------------------------------------')

ao = 'He relished his work on the Judiciary Committee.'
an = 'He relished the decades he spent on the Judiciary Committee.'
print(ao)
print()
print(an)
print('ao subset an? %s.' % check_subset(ao, an))
print('an subset ao? %s.' % check_subset(an, ao))
print('------------------------------------------')

ao = 'Mr. Samaha’s arrest was widely viewed as evidence of a Syrian plot to spread sectarian mayhem in Lebanon.'
an = 'Mr. Samaha’s arrest was widely seen as part of Lebanese government efforts to prevent the spread of sectarian mayhem in the country.'
print(ao)
print()
print(an)
print('ao subset an? %s.' % check_subset(ao, an))
print('an subset ao? %s.' % check_subset(an, ao))
print('------------------------------------------')

ao = 'An earlier version of this article misstated the distance between Alpha Centauri A and Alpha Centauri B, the two main stars in the triple-star Alpha Centauri system.	'
an = 'An article on Wednesday about a new planet discovered in the Alpha Centauri system misstated the distance between Alpha Centauri A and Alpha Centauri B, the two main stars in the triple-star system.'
print(ao)
print()
print(an)
print('ao subset an? %s.' % check_subset(ao, an))
print('an subset ao? %s.' % check_subset(an, ao))
print('------------------------------------------')

ao = 'On Tuesday night, they were here in Charlotte without being here.'
an = 'On Thursday night, they appeared in a video and in person before and after their father’s speech, but on Tuesday night, they were here in Charlotte without being here.'
print(ao)
print()
print(an)
print('ao subset an? %s.' % check_subset(ao, an))
print('an subset ao? %s.' % check_subset(an, ao))
print('------------------------------------------')

ao = 'President Obama’s first postelection overseas trip will be this month to Asia, where he is to make a historic visit to Myanmar as it moves toward democracy and reinforce his desire to reorient American foreign policy more toward the Pacific during his second term.'
an = 'President Obama will make Asia his first overseas destination since his re-election, with a trip this month that is to include a historic visit to Myanmar and underscore his desire to reorient American foreign policy more toward the Pacific during his second term.'
print(ao)
print()
print(an)
print('ao subset an? %s.' % check_subset(ao, an))
print('an subset ao? %s.' % check_subset(an, ao))
print('------------------------------------------')

In [ ]:
ao_vec, an_vec = get_sentence_glove_vec(ao), get_sentence_glove_vec(an)
cosine(ao_vec, an_vec)

ao_vec, an_vec = get_sentence_glove_vec(ao), get_sentence_glove_vec(an)
cosine(ao_vec, an_vec)

a_rand_1 = '“I get in front of the Marines as often as I can, as long as I can get away from Washington, and I’ll be honest with you, I don’t even get a question,” the Marine commandant, James F. Amos, said at the National Press Club last month.'
a_rand_2 = "Aubrey Sarvis, an Army veteran and the executive director of the Servicemembers Legal Defense Network, said in an interview that after the female officers contacted his organization, the Pentagon investigated and the squadron commander and the sergeant major were relieved of their jobs and forced to retire."

ar_1_vec, ar_2_vec = get_sentence_glove_vec(a_rand_1), get_sentence_glove_vec(a_rand_2)
cosine(ar_1_vec, ar_2_vec)

print('ao subset an? %s.' % check_subset(a_rand_1, a_rand_2))
print('an subset ao? %s.' % check_subset(a_rand_2, a_rand_1))

## cases where added sentence is a subset of removed words of other sentences
## cases where added sentence is semantically equivalent to removed sentence
sentence_stats_df.loc[lambda df: df['num_added_sents'] == 1].iloc[0][['version_nums', 'a_id']]
list(filter(lambda x: x['tag'] == '+', vn))
list(map(lambda x: x['text'], vo))

# Put version numbers in all of the auxiliary databases

In [ ]:
from tqdm.auto import tqdm

select_sql = "SELECT * from entryversion"

for db in tqdm(list(filter(lambda x: 'newssniffer' not in x, dbs))):
    db_path, db_name = os.path.dirname(db), os.path.basename(db)
    con = sqlite3.connect(db)
    df = pd.read_sql(select_sql, con=con)
    df = (df
     .pipe(lambda df: 
           pd.concat([df,
                      df.sort_values(['entry_id', 'id'])
                         .groupby('entry_id')['id']
                         .rank(method='dense')
                         .pipe(lambda s: s-1)
                         .to_frame('version')
                     ], axis=1)
           )
    )
    df.to_sql('entryversion_v2', con, if_exists='replace', index=False)

# pd.read_sql('select * from entryversion_v2 limit 100 ', con)['title'] == pd.read_sql('select * from entryversion limit 100 ', con)['title']

for db in tqdm(list(filter(lambda x: 'newssniffer' not in x, dbs))[11:]):
    con = sqlite3.connect(db)
    con.execute('DROP TABLE IF EXISTS entryversion')
    con.execute('ALTER TABLE entryversion_v2 RENAME TO entryversion;')

for db in tqdm(list(filter(lambda x: 'newssniffer' not in x, dbs))):
    db_path, db_name = os.path.dirname(db), os.path.basename(db)
    con = sqlite3.connect(db)

con = sqlite3.connect('../data/diffengine-diffs/db/ap.db')

(dfs['ap.db']
 .pipe(lambda df: 
       pd.concat([df,
                  df.sort_values(['entry_id', 'id'])
                     .groupby('entry_id')['id']
                     .rank(method='dense')
                     .pipe(lambda s: s-1)
                     .to_frame('version')
                 ], axis=1)
       )
 .drop('id', axis=1)
).head(2)


dfs['ap.db'].head(2)

# Check Running containers

In [1]:
import pandas as pd

In [14]:
from tqdm.auto import tqdm
all_running_docker_programs = []
for i in tqdm([1, 2, 3, 4, 5, 6]):
    a = ! gcloud compute ssh --zone "us-central1-a" "edit-parser-1-$i" --project "usc-research" --command "docker ps --no-trunc"
    all_running_docker_programs += a

  0%|          | 0/6 [00:00<?, ?it/s]

In [15]:
jobs_of_interest = list(filter(lambda x: 
                               'us.gcr.io/usc-research/edit-parser' in x or
                               'python3 parsing_script.py' in x, all_running_docker_programs))

In [16]:
dbs_still_running = pd.DataFrame(list(map(lambda x: x.split(), jobs_of_interest)))[5]

In [17]:
full_db_list = [
    'ap',
    'bbc-1',
    'bbc-2',
#     'calgaryherald',
#     'canadaland',
    'cbc',
    'cnn',
    'dailymail',
#     'fox',
#     'globemail',
    'guardian',
    'independent',
#     'lapresse',
#     'nationalpost',
    'nyt',
    'reuters',
#     'telegraph',
#     'therebel',
    'torontostar',
#     'torontosun',
#     'whitehouse',
#     'wp'
]

In [18]:
dbs_still_running

0           bbc-2
1         reuters
2        guardian
3             ago
4             nyt
5             nyt
6             cbc
7             cnn
8     independent
9        guardian
10      dailymail
11    torontostar
12          bbc-2
13          bbc-2
14          bbc-2
15          bbc-2
16            nyt
17            nyt
18            nyt
19             ap
20          bbc-2
21          bbc-2
22          bbc-2
23          bbc-2
24            ago
Name: 5, dtype: object

In [19]:
set(full_db_list) - set(dbs_still_running)

{'bbc-1'}

# Checking

In [48]:
import os
from google.cloud import datastore
##
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/Users/alex/.google-cloud/usc-research-data-access.json'
ds_client = datastore.Client()
##
q = (ds_client
     .query(kind='edit-paths-sentence-stats')
     .add_filter('source', '=', 'bbc-1'))
r = list(q.fetch())
a_ids = list(set(map(lambda x: str(x['a_id']), r)))
to_add = "AND entry_id not in (%s)" % ', '.join(a_ids)
to_add += "AND summary != ''"

select_sql = "SELECT * from entryversion"
limit_line = "WHERE num_versions < %s AND num_versions > 1 %s" % (40, to_add)
select_sql += '\n' + limit_line

In [101]:
pd.read_sql("""select count(1) from entryversion""", con=con).iloc[0][0]

99082

In [103]:
pd.read_sql("""
SELECT * from entryversion
WHERE num_versions < 40 AND num_versions > 1
order by entry_id 
LIMIT 5 OFFSET 2
""", con= con)

,index,id,title,url,summary,created,archive_url,entry_id,num_versions,version
0,61,62,Obama commutes Chelsea Manning sentence - BBC ...,http://www.bbc.co.uk/news/world-us-canada-3865...,\n \n \n \n ...,2017-01-18 00:30:03.671672,https://wayback.archive.org/web/20170118003022...,1,9,2.0
1,69,70,Obama commutes Chelsea Manning sentence - BBC ...,http://www.bbc.co.uk/news/world-us-canada-3865...,\n \n \n \n ...,2017-01-18 02:00:03.848093,https://wayback.archive.org/web/20170118020022...,1,9,3.0
2,78,79,Obama commutes Chelsea Manning sentence - BBC ...,http://www.bbc.co.uk/news/world-us-canada-3865...,\n \n \n \n ...,2017-01-18 03:00:03.726020,https://wayback.archive.org/web/20170118030022...,1,9,4.0
3,100,101,Obama commutes Chelsea Manning sentence - BBC ...,http://www.bbc.co.uk/news/world-us-canada-3865...,\n \n \n \n ...,2017-01-18 07:00:04.058084,https://wayback.archive.org/web/20170118070023...,1,9,5.0
4,119,120,Obama commutes Chelsea Manning sentence - BBC ...,http://www.bbc.co.uk/news/world-us-canada-3865...,\n \n \n \n ...,2017-01-18 09:00:03.482641,https://wayback.archive.org/web/20170118090023...,1,9,6.0