In [9]:
import pyspark
import databricks.koalas as ks

In [10]:
import pandas as pd

In [3]:
from pyspark import SparkConf, SparkContext, 

conf = SparkConf().setAppName('test')
sc = SparkContext(conf=conf)

sc.setLogLevel("WARN")

changed = []

def div_two (n):
    opera = n / 2
    return opera

numbers = [8,40,20,30,60,90]

numbersRDD = sc.parallelize(numbers)

changed.append(numbersRDD.foreach(lambda x: div_two(x)))

#result = numbersRDD.map(lambda x: div_two(x))

for i in changed:
    print(i)

None

In [13]:
t = pd.DataFrame({'a': [1,2,3]})

In [16]:
a = ks.DataFrame({'a':[1,2,3]})

In [18]:
a.apply(lambda x: x * 2)

   a
0  2
1  4
2  6